<%- include('../partials/header') %>
<h1>Edit Event Details</h1>

<form id="newFlowerForm" action="/flowers/<%= flower.id %>?_method=PUT"  method="POST">
   <label>Name of Client:</label><input type="text" name="name" value="<%= flower.name %>" required>
   <label>Original Date of Event:</label><input value="<%=flower.dateOfEvent %>">
   <label>New Date of Event:</label><input type="date" name="dateOfEvent" value="<%=flower.dateOfWedding %>" required>
   <label>Location:</label><input type="text" name="location" value="<%=flower.location %>" required>

   <% let x = 1; %>

   <% while(x < flower.flowerName.length + 1) {  %>
      <div class="flex">
         <label>Flower #<%= x %></label>
         <hr>
         <div>
            <label id="space">Name</label>
            <label>Amount</label>
         </div>
         <select name="flowerName" class="flowerName" required>
              <option value="<%= flower.flowerName[x - 1] %>"><%= flower.flowerName[x - 1] %></option>
              <% prices.forEach(e => { %>
               <% if(e.isFlower === "Green" || e.isFlower === "green"){ return } %>
               <option value="<%= e.plantName %>"><%= e.plantName %></option>
            <%  }) %>
         </select>

         <input type="number" name="flowerAmount" value="<%= flower.flowerAmount[x - 1] %>" min="0" max="400" required>
         </div>
<% x++ %>
<% } %>

<div id="btnDiv">
   <button id="btnAddFlower" class="btnAdd">Add More</button>
   <button id="btnRemoveFlower" class="btnRemove">Remove</button>
</div>


<script>
   let btn = document.getElementById('btnAddFlower')
   let x = flower.flowerName.length;
   console.log(x)
   const clicked = function(e){
      // let val = document.getElementById('unique').value
      e.preventDefault()
      // y = val;
      console.log(x)
      x++
      let html = `
      <div class="flex" id="x${x}">
         <label>Flower #${x}</label>
         <hr>
      <div>
         <label id="space">Name</label>
         <label>Amount</label>
      </div>

      <select name="flowerName" class="flowerName" required>
               <option value=""></option>
              <% prices.forEach(e => { %>
               <% if(e.isFlower === "Green" || e.isFlower === "green"){ return } %>
               <option value="<%= e.plantName %>"><%= e.plantName %></option>
            <%  }) %>
  
      </select>
         <input type="number" name="flowerAmount" min="0" max="400" required>
      </div>
   <% x++ %>
`
      btn.insertAdjacentHTML("beforebegin", html)
   }


   btn.addEventListener('click', clicked )
   
/// Remove Btn

let btnRemove = document.getElementById('btnRemoveFlower')
const clickedRemove = function(e){
   e.preventDefault()
   document.getElementById(`x${x}`).remove()
   x--
}
btnRemove.addEventListener('click', clickedRemove )
</script>


<% let y = 1; %>

<% while(y < 3) {  %>

   <div class="flex">
      <label>Green #<%= y %></label>
      <hr>
      <div>
      <label id="space">Name</label>
      <label>Amount:</label>
      </div>
      <select name="greenName" class="flowerName" required>

      <option value="<%= flower.greenName[y - 1] %>"><%= flower.greenName[y - 1] %></option>
         <% prices.forEach(e => { %>
            <% if(e.isFlower === "Flower" || e.isFlower === "flower"){ return } %>
            <option value="<%= e.plantName %>"><%= e.plantName %></option>
         <%  }) %>
      </select>
      <input type="number" name="greenAmount" value="<%= flower.greenAmount[y - 1] %>" min="0" max="400" required>
   </div>
<% y++ %>
<% } %>



<div id="btnDiv">
   <button id="btnAddGreen" class="btnAdd">Add More</button>
   <button id="btnRemoveGreen" class="btnRemove">Remove</button>
</div>


<script>
   let btnGreen = document.getElementById('btnAddGreen')
   let y = 2;
   const clickedGreen = function(e){
      // let val = document.getElementById('unique').value
      e.preventDefault()
      // y = val;
      console.log(y)
      y++
      let html = `

      <div class="flex" id="y${y}">
      <label>Green #${y}</label>
      <hr>
      <div>
         <label id="space">Name</label>
         <label>Amount:</label>
      </div>
      <select name="greenName" class="flowerName" required>
           <option value=""></option>
           <% prices.forEach(e => { %>
            <% if(e.isFlower === "Flower" || e.isFlower === "flower"){ return } %>
            <option value="<%= e.plantName %>"><%= e.plantName %></option>
         <%  }) %>  
      </select>
      <input type="number" name="greenAmount" min="0" max="400"required>
      </div>

      `
      btnGreen.insertAdjacentHTML("beforebegin", html)
   }


   btnGreen.addEventListener('click', clickedGreen )
   
/// Remove Btn

let btnRemoveGreen = document.getElementById('btnRemoveGreen')
const clickedRemoveGreen = function(e){
   e.preventDefault()
   // called y# because the old buttons would remove each other with just a number//
   document.getElementById(`y${y}`).remove()
   y--
}
btnRemoveGreen.addEventListener('click', clickedRemoveGreen )
</script>

   <button type="submit" id="newBtn">Save Changes</button>
</form>

<%- include('../partials/footer') %>