<%- include('../partials/header') %>


<h1 id="indexHeader">Orders</h1>

<% flowers.forEach(f => { %>
    
    <div id="containerIndexAll">
        <div id="insideContainerIndex">
            <form action="/flowers/<%=f.id%>?_method=DELETE" method="POST">
                <button class="deleteBtn" type="submit">X</button>
            </form>
            
            <a href="/flowers/<%= f.id %>/edit" id="editBtn">Edit</a>
        </div>
        
        <h2 class="indexAllLabel">Client Name: <span><%= f.name %></span></h2>
        <h2 class="indexAllLabel">Date of Event: <span><%= f.dateOfEvent %></span></h2>
        <h2 class="indexAllLabel">Location: <span><%= f.location %></span></h2>
       
        <!-- NOT SURE IF I WANT TO INCLUDE DATA ON FLOWERS ON THIS PAGE
            <h2 class="indexAllLabel">Flowers:  
            <span>
                <% f.flowerName.forEach(f => { %>
                <%= f %>,
            <% }) %>
            </span>
            <span> (<%= f.flowerAmount %>)</span>
        </h2>
        <h2 class="indexAllLabel">Greens: 
            <span>
                <% f.greenName.forEach(g => { %>
                <%= g %>,
            <% }) %>
            </span>
        </h2>
        -->
        <a id="viewEvent" href="/flowers/<%= f.id %>">View Event</a>
        
    </div>


<% }) %> 


<%- include('../partials/footer') %>