<%- include('../partials/header') %>


<h2 id="indexHeader">Orders</h2>

<% flowers.forEach(f => { %>
    
    <div id="containerIndexAll">
        <div id="insideContainerIndex">
            <form action="/flowers/<%=f.id%>?_method=DELETE" method="POST">
                <button class="deleteBtn" type="submit">X</button>
            </form>
            
            <a href="/flowers/<%= f.id %>/edit">Edit</a>
        </div>

        <h2 class="indexAllLabel">Client Name: <span><%= f.name %></span></h2>
        <h2 class="indexAllLabel">Date of Wedding: <span><%= f.dateOfWedding %></span></h2>
        <h2 class="indexAllLabel">Flower #1 Name: 
            <span><%= f.flowerName %></span>
            <span> (<%= f.flowerAmount %>)</span>
        </h2>
        <h2 class="indexAllLabel">Greenery #1 Name: 
            <span><%= f.greenName %></span>
            <span> (<%= f.greenAmount %>)</span>
        </h2>
        <a id="viewWedding" href="/flowers/<%= f.id %>">View Wedding</a>
        
    </div>


<% }) %> 


<%- include('../partials/footer') %>