<%- include('../partials/header') %>



<form id="newFlowerForm" action="/flowers"  method="POST">
   <h1>Create Your Arrangement</h1>
   <label>Name of Client </label><input type="text" name="name" required>
   <label>Date of Event</label> <input type="date" name="dateOfEvent" required>
   <label>Location </label><input type="text" name="location" required>
   <label>Notes:</label><textarea name="notes" cols="50" rows="5"></textarea>
   <% let x = 1; %>

   <% while(x < 4) {  %>
      <div class="flex">
         <label>Flower #<%= x %> </label>
         <hr>
         <div>
            <label id="space">Name</label>
            <label>Amount</label>
         </div>
         <select class="flowerName" name="flowerName" required>
            <option value=""></option>
            
            <% prices.forEach(e => { %>
      
               <% if(e.isFlower === "Green" || e.isFlower === "green"){ return } %>
               <option value="<%= e.plantName %>"><%= e.plantName %></option>
            <%  }) %>
         </select>
         
         <input id="numberInput" type="number" name="flowerAmount" min="1" max="400" required>
         </div>
<% x++ %>
<% } %>

   <div id="btnDiv">
   <button id="btnAddFlower" class="btnAdd">Add More</button>
   <button id="btnRemoveFlower" class="btnRemove">Remove</button>
   </div>

   <script>
      let btn = document.getElementById('btnAddFlower')
      let x = 3;
      const clicked = function(e){
         // let val = document.getElementById('unique').value
         e.preventDefault()
         // y = val;
         console.log(x)
         x++
         let html = `
         <div class="flex" id="x${x}">
            <label>Flower #${x}</label>
            <hr>
         <div>
            <label id="space">Name</label>
            <label>Amount</label>
         </div>

         <select class="flowerName" name="flowerName" required>
            <option value=""></option>
            <% prices.forEach(e => { %>
               <% if(e.isFlower === "Green" || e.isFlower === "green"){ return } %>
               <option value="<%= e.plantName %>"><%= e.plantName %></option>
            <%  }) %>
         </select>

            <input id="numberInput" type="number" name="flowerAmount" min="1" max="400" required>
         </div>
      <% x++ %>
   `
         btn.insertAdjacentHTML("beforebegin", html)
      }


      btn.addEventListener('click', clicked )
      
   /// Remove Btn

   let btnRemove = document.getElementById('btnRemoveFlower')
   const clickedRemove = function(e){
      e.preventDefault()
      document.getElementById(`x${x}`).remove()
      x--
   }
   btnRemove.addEventListener('click', clickedRemove )
   </script>




<!-- Below here is for Greenery -->


<% let y = 1; %>

<% while(y < 3) {  %>

   <div class="flex">
      <label>Green #<%= y %></label>
      <hr>
      <div>
      <label id="space">Name</label>
      <label>Amount:</label>
      </div>
      <select name="greenName" class="flowerName" required>

         <option value=""></option>
         <% prices.forEach(e => { %>
            <% if(e.isFlower === "Flower" || e.isFlower === "flower"){ return } %>
            <option value="<%= e.plantName %>"><%= e.plantName %></option>
         <%  }) %>
         </select>
      <input id="numberInput" type="number" name="greenAmount" required>
   </div>
<% y++ %>
<% } %>


<div id="btnDiv">
   <button id="btnAddGreen" class="btnAdd">Add More</button>
   <button id="btnRemoveGreen" class="btnRemove">Remove</button>
</div>

<script>
   let btnGreen = document.getElementById('btnAddGreen')
   let y = 2;
   const clickedGreen = function(e){
      // let val = document.getElementById('unique').value
      e.preventDefault()
      // y = val;
      console.log(y)
      y++
      let html = `

      <div class="flex" id="y${y}">
      <label>Green #${y}</label>
      <hr>
      <div>
         <label id="space">Name</label>
         <label>Amount:</label>
      </div>
      <select name="greenName" class="flowerName" required>
           <option value=""></option>
           <% prices.forEach(e => { %>
            <% if(e.isFlower === "Flower" || e.isFlower === "flower"){ return } %>
            <option value="<%= e.plantName %>"><%= e.plantName %></option>
         <%  }) %>    
      </select>
      <input id="numberInput" type="number" name="greenAmount" required>
      </div>

      `
      btnGreen.insertAdjacentHTML("beforebegin", html)
   }


   btnGreen.addEventListener('click', clickedGreen )
   
/// Remove Btn

let btnRemoveGreen = document.getElementById('btnRemoveGreen')
const clickedRemoveGreen = function(e){
   e.preventDefault()
   // called y# because the old buttons would remove each other with just a number//
   document.getElementById(`y${y}`).remove()
   y--
}
btnRemoveGreen.addEventListener('click', clickedRemoveGreen )
</script>
   
   <button type="submit" id="newBtn">Submit Order</button>
   <% if(errorMsg){ errorMsg = "Missing required fields"} %>
   <p id="errorMsg"><%= errorMsg %></p>
</form>



<%- include('../partials/footer') %>