


<%- include('../partials/header') %>
<script>let fl = flower.dateOfWedding.slice(0, 10)</script>


    <h2>View Order: <span><%= flower.name %></span></h2>
    <div id="showDiv">
        <label><span class="showTitles">Name:</span> <%=flower.name %></label>
        <label><span class="showTitles">Date of Wedding:</span> <%= flower.dateOfWedding %></label>
        <label><span class="showTitles">Location:</span> <%=flower.location %></label>

        <% flower.flowerName.forEach((f, i) => {  %>
        <label><span class="showTitles">Flower #<%= i + 1%>:</span> <%=f %> (<%=flower.flowerAmount[i]  %>)</label>
        <% }) %>
     
        <% flower.greenName.forEach((g, i) => {  %>
        <label><span class="showTitles">Greenery #<%= i + 1%>:</span> <%=g %> (<%=flower.greenAmount[i] %>)</label>
        <% }) %>

        <a href="/flowers/<%= flower.id %>/edit">Edit Wedding Details</a>
    </div>

    <div id="priceDiv">

        <h2>Price Breakdown</h2>
            <% let total = 0; %>
        <table id="priceBreakdownTable">
            <tr>
              <th>Selection</th>
              <th>Plant Name</th>
              <th>Per Stem Amount</th>
              <th>Price Per Stem</th>
              <th>Total Per Stem</th>
              <th>Bundles Needed</th>
            </tr>
            <% console.log(flower.flowerName) %>
            <% flower.flowerName.forEach((f, i) => {  %>
                <% let curPrice = price.find((e) => e.plantName === f).price %>
                <tr>
                    <td><span class="showTitles">Flower #<%= i + 1 %></span></td>
                    <td><%=f %></td>
                    <td class="centerText"><%=flower.flowerAmount[i] %></td>
                    <td class="centerText">$<%= curPrice %></td>   
                    <td class="centerText">$<%=flower.flowerAmount[i] * curPrice %> <% total+= flower.flowerAmount[i] * curPrice %></td>
                </tr>
           <% }) %>

           <% flower.greenName.forEach((g, i) => {  %>
            <% let curPriceGreen = price.find((e) => e.plantName === g).price %>
            <tr>
                <td><span class="showTitles">Green #<%= i + 1 %></span></td>
                <td><%=g %></td>
                <td class="centerText"><%=flower.greenAmount[i] %></td>
                <td class="centerText">$<%= curPriceGreen %></td>   
                <td class="centerText">$<%=flower.greenAmount[i] * curPriceGreen %> <% total+= flower.greenAmount[i] * curPriceGreen %></td>
            </tr>
       <% }) %>
        </table>
        <h2>Total Price of Flowers: $<%= total %></h2>
    </div>


<%- include('../partials/footer') %>