<%- include('../partials/header') %>

<form id="newFlowerForm" action="/prices/<%= price.id %>?_method=PUT"  method="POST">
   <h1>Edit Database Details</h1>
   <label>Plant Name:</label><input type="text" name="plantName" value="<%= price.plantName %>" required>
   <label>Price Per Bundle:</label><input name="price" type="number" value="<%=price.price %>" min="1" step="0.01" pattern="^\d*(\.\d{1,2})?$" required>
   <label>Stems Per bundle:</label><input type="text" name="bundle" value="<%=price.bundle %>" required>
   <label>Type:</label>
   <select type="text" name="isFlower" required>
      <option value="<%=price.isFlower %>"><%=price.isFlower %></option>
      <option value="Green">Green</option>
      <option value="Flower">Flower</option>
   </select>
   <label>Supplier:</label><input type="text" name="supplier" value="<%=price.supplier %>">
   <label>Supplier Email:</label><input type="text" name="supplierEmail" value="<%=price.supplierEmail %>">
   <label>Notes:</label><textarea name="notes" cols="50" rows="10"></textarea>

   <button type="submit" id="newBtn">Save Changes</button>
</form>
<%- include('../partials/footer') %>