<%- include('../partials/header') %>


<h1 id="indexHeader">Plant Database</h1>
<div id="plantDiv">
<a id="addPlant" href="/prices/new">Add New Plant</a>
</div>

<% prices.forEach(p => { %>
    
    <div id="containerDatabase">
        <div id="insideContainerIndex">
            <form action="/prices/<%=p.id%>?_method=DELETE" method="POST">
                <button class="deleteBtn" type="submit" >X</button>
            </form>
            
            <a href="/prices/<%= p.id %>/edit" id="editBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="2vmin" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                </svg>
                Edit</a>


        </div>
        <a class="viewEvent" href="/prices/<%= p.id %>">
        <div id="itemsDatabase">
        <h2 class="indexAllLabel"><span id="special"><%= p.plantName %></span></h2>
        <br>
        <h2 class="indexAllLabel">Bundle Price: <span>$<%= p.price %></span></h2>
        <h2 class="indexAllLabel">Bundle: <span><%= p.bundle %> stems</span></h2>
        <h2 class="indexAllLabel">Type: <span><%= p.isFlower %></span></h2>
   
    </div>
</a>

        
    </div>
    <% }) %>
<%- include('../partials/footer') %>