<%- include('../partials/header') %>


<h1 id="indexHeader">Plant Database</h1>
<div id="plantDiv">
<a id="addPlant" href="/prices/new">Add New Plant</a>
</div>

<% prices.forEach(p => { %>
    
    <div id="containerDatabase">
        <div id="insideContainerIndex">
            <form action="/prices/<%=p.id%>?_method=DELETE" method="POST">
                <button class="deleteBtn" type="submit" >X</button>
            </form>
            
            <a href="/prices/<%= p.id %>/edit" id="editBtn">Edit</a>
        </div>
        <a class="viewEvent" href="/prices/<%= p.id %>">
        <div id="itemsDatabase">
        <h2 class="indexAllLabel"><span id="special"><%= p.plantName %></span></h2>
        <br>
        <h2 class="indexAllLabel">Bundle Price: <span>$<%= p.price %></span></h2>
        <h2 class="indexAllLabel">Bundle: <span><%= p.bundle %> plants</span></h2>
   
    </div>
</a>

        
    </div>
    <% }) %>
<%- include('../partials/footer') %>