
<%- include('../partials/header') %>


<h1>View Order: <span><%= price.plantName %></span></h1>
<div id="showDiv">
    <label><span class="showTitles">Plant Name:</span> <%=price.plantName %></label>
    <label><span class="showTitles">Price Per Bundle:</span> <%= price.price %></label>
    <label><span class="showTitles">Bundle:</span> <%=price.bundle %> stems</label>
    <label><span class="showTitles">Type:</span> <%=price.isFlower %></label>
    <label><span class="showTitles">Supplier:</span> <%=price.supplier %></label>
    <label><span class="showTitles">Supplier Email:</span> <%=price.supplierEmail %></label>
    <label><span class="showTitles">Notes:</span> <%=price.notes %></label>

    <a href="/prices/<%= price.id %>/edit" id="editBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="2vmin" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
        </svg>
        Edit Price Details</a> 
</div>


<%- include('../partials/footer') %>